<nav link="powerview"></nav>
<div class="row">
  <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 leftwidgets">
    <div class="mediumwidget">
      <h4 class="title">Current Billing Period</h4>
      <h3 class="maincontent">September</h3>
      <h4 class="time">Aug 19 - Sep 19, 2014</h4>
    </div>
    <div class="mediumwidget">
      <h4 class="title">Current Season</h4>
      <h3 class="maincontent">Summer</h3>
      <h4 class="time">May 1 - October 31</h4>
    </div>
    <div class="mediumwidget">
      <h4 class="title">Current Period</h4>
      <h3 class="maincontent">On Peak</h3>
      <h4 class="time">12:00 - 6:00 pm</h4>
    </div>
    <div class="smallwidget">
      <h4 class="title">Current Energy Charge</h4>
      <h3 class="maincontent">$ 0.19 / kWh</h3>
    </div>
    <div class="smallwidget">
      <h4 class="title">Current Demand Charges</h4>
      <h3 class="maincontent">$ 21.46 / kW</h3>
    </div>
    </div>
  </div>
  <div class="hidden-xs col-sm-7 col-md-8 col-lg-9">
  </div>
</div>

